extends layout

block content
	#voterRoomInfo Room:
		#roomName #{room.roomId}
		#voterList Players:
			.avatars
	#voterInfo
		.status.newRound
			| Voting is open - choose a card
			span#ticketInfo
		.status.roundEnd Voting is closed
		img.voterImage#avatar(src='#{user.avatar}')
		h3.voterName #{user.name}
		#cardStyle
			h4 Card Style
			div#cardPreview
				div.cardBack.argyle(style='background-color:#{user.cardColor}')

		table#estimateOptions.roundEnd

	script.
		BP.room = !{JSON.stringify(room)};
		BP.user = !{JSON.stringify(user)};
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/join.js")
