extends layout

block content
	#voterRoomInfo Room: #{roomId} 
		.status.newRound
			| Choose a card
			span#ticketInfo
		.status.roundEnd Round is over
	#voterInfo
		img.voterImage#avatar(src='#{avatar}')
		h3.voterName #{user}
		#cardStyle
			h4 Card Style
			div#cardPreview
				div.cardBack.argyle(style='background-color:#{cardColor}')

		table#estimateOptions

	div#cardStylePop
		div#closePopover.close X
		label Pattern
		select#pattern
			option argyle
			option denim
			option graphpaper
			option paisley
			option wood
			option goat
		label Color
			input(title='Select card color', type='color', value='#{cardColor}')#color

	script.
		BP.roomId = #{roomId};
		BP.title = "#{title}";
		BP.avatar = "#{avatar}";
		BP.user = "#{user}";
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/join.js")
