extends layout

block content
	#voterRoomInfo Room: #{roomId} 
		.status.newRound
			| Choose a card
			span#ticketInfo
		.status.roundEnd Round is over
	#voterInfo
		img.voterImage#avatar(src='#{avatar}')
		h3.voterName #{name}
		#cardStyle
			h4 Card Style
			div#cardPreview
				div.cardBack.argyle(style='background-color:#{cardColor}')

		table#estimateOptions

	script.
		BP.room = {
			id: #{roomId},
			title: "#{title}"
		};
		BP.user = {
			avatar: "#{avatar}",
			name: "#{name}",
			cardColor: "#{cardColor}"
		};
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/join.js")
