extends layout

block content
	#voterRoomInfo Room:
		#roomName #{room.roomId}
		.status.newRound
			| Choose a card
			span#ticketInfo
		.status.roundEnd Round is over
	#voterInfo
		img.voterImage#avatar(src='#{user.avatar}')
		h3.voterName #{user.name}
		#cardStyle
			h4 Card Style
			div#cardPreview
				div.cardBack.argyle(style='background-color:#{user.cardColor}')

		table#estimateOptions

	script.
		BP.room = !{JSON.stringify(room)};
		BP.user = !{JSON.stringify(user)};
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/join.js")
