extends layout

block content
	#voterRoomInfo Room: #{roomId} 
		.status.newRound Choose a card!
		.status.roundEnd Round is over.
	#voterInfo
		img.voterImage#avatar(src='#{avatar}')
		h3.voterName #{user}
		#cardStyle
			h4 Card Style
			div#cardPreview
				div.cardBack.argile(style='background-color:#{cardColor}')

	table#estimateOptions
		tr
			td(data-value='') ?
			td(data-value='0.5') &frac12;
			td(data-value='1') 1
		tr
			td(data-value='2') 2
			td(data-value='3') 3
			td(data-value='5') 5
		tr
			td(data-value='8') 8
			td(data-value='13') 13
			td(data-value='21') 21
		tr
			td(data-value='34') 34
			td(data-value='55') 55
			td(data-value='89') 89
		tr
			td(data-value='') &infin;
			td.coffee(data-value='') coffee
			td.blank &nbsp;

	div#cardStylePop
		div.close X
		label Pattern
		select#pattern
			option argile
			option denim
			option graphpaper
			option paisley
			option wood
			option goat
		label Color
			input(title='Select card color', type='color', value='#{cardColor}')#color


	script.
		var bp = {
			roomId: #{roomId},
			avatar: "#{avatar}",
			user: "#{user}"
		}
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/clientVoter.js")
