extends layout

block content
	h1#voterInfo
		i Logged into Room #{roomId} as: 
		img#avatar(src='#{avatar}')
		span #{user}
		input(type='color', value='#032E63')#color

	table#estimateOptions
		tr
			td 1
			td 2
		tr
			td 3
			td 5
		tr
			td 8
			td 13
		tr
			td 21
			td 34
		tr
			td 55
			td 89

	script.
		var bp = {
			roomId: #{roomId},
			avatar: "#{avatar}",
			user: "#{user}"
		}
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/clientVoter.js")
