extends layout

block content
	#voterRoomInfo Room: #{roomId} 
		.status.newRound Choose a card!
		.status.roundEnd Round is over.
	#voterInfo
		img.voterImage#avatar(src='#{avatar}')
		h3.voterName #{user}
		#cardColor
			h4 Card Color
			input(title='Select card color', type='color', value='#{cardColor}')#color

	table#estimateOptions
		tr
			td ?
			td &frac12;
			td 1
		tr
			td 2
			td 3
			td 5
		tr
			td 8
			td 13
			td 21
		tr
			td 34
			td 55
			td 89
		tr
			td &infin;
			td.coffee coffee
			td.blank &nbsp;

	script.
		var bp = {
			roomId: #{roomId},
			avatar: "#{avatar}",
			user: "#{user}"
		}
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/clientVoter.js")
