extends layout

block content
	#room
		h1 Welcome to #{title} (#{roomId})

		ul#settings
			li
				i.fa.fa-cog.fa-2x
				.drop
					span.title Deck Type:
					.control
						.option
							label(for="standard")
								input(type="radio", value="standard", name="deckType", id="standard", checked="checked")
								span Standard
						.option
							label(for="fibonacci")
								input(type="radio", value="fibonacci", name="deckType", id="fibonacci")
								span Fibonacci
					span.title Invite URL:
					.control
						span bitpoints.io/#{inviteId}
							i.fa.fa-share-square-o#showLink(data-link="bitpoints.io/#{inviteId}")

		button#toggleRound Begin Estimating

		#average The average estimate is 
			span.val

		#ticket

		ul#users

	script.
		bp.roomId = #{roomId};
		bp.title = "#{title}";
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/client.js")
