extends layout

block content
	#voterRoomInfo Room: #{roomId} 
		.status.newRound
			| Choose a card
			span#ticketInfo
		.status.roundEnd Round is over
	#voterInfo
		img.voterImage#avatar(src='#{avatar}')
		h3.voterName #{user}
		#cardStyle
			h4 Card Style
			div#cardPreview
				div.cardBack.argile(style='background-color:#{cardColor}')

	table#estimateOptions

	div#cardStylePop
		div.close X
		label Pattern
		select#pattern
			option argile
			option denim
			option graphpaper
			option paisley
			option wood
			option goat
		label Color
			input(title='Select card color', type='color', value='#{cardColor}')#color

	script.
		bp.roomId = #{roomId};
		bp.title = "#{title}";
		bp.avatar = "#{avatar}";
		bp.user = "#{user}";
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/clientVoter.js")
